Algoritmiek/main
Algoritmiek/other
Algoritmiek/.vscode/tasks.json
Programmeertechnieken/Data/fullRdw.csv
Programmeertechnieken/Data/sampleRdw.csv
Programmeertechnieken/Opdracht1/Data/fullRdw.csv
Programmeertechnieken/Opdracht1/Data/sampleRdw.csv
Programmeertechnieken/Werkcollege/week1/data/address.list
Programmeertechnieken/Werkcollege/week1/data/cities.population
Programmeertechnieken/Werkcollege/week1/data/world.capitals
Programmeertechnieken/Werkcollege/week1/europe/cities.population
Programmeertechnieken/Werkcollege/week1/europe/europe.capitals
Programmeertechnieken/O1/Data/sampleRdw.csv
.gitignore
Programmeertechnieken/O1/Data/filteredRdw.csv.bz2
Programmeertechnieken/O1/Data/sampleRdw.csv.bz2
Algoritmiek/Overige/main
